<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Todo's
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Todo's</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let todo of todos">
    <ion-card-header>
      <ion-card-subtitle>{{todo.task}}</ion-card-subtitle>
      <ion-card-title>{{todo.task}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{todo.desc}}
    </ion-card-content>
  </ion-card>
</ion-content>
